---
- name: Ensure SCM code master - {{ item.name }}
  vmware_guest:
    hostname: "{{ '{{ vcenter_hostname }}' }}"
    username: "{{ '{{ vcenter_user }}' }}"
    password: "{{ '{{ vcenter_pass }}' }}"
    datacenter: justai-lab
    cluster: cluster
    validate_certs: no
    state: present
    name: {{ item.name }}
    uuid: {{ facts['virtual_machines']['%s'| format(item.name)]['uuid'] }}
    disk:
{% for items in item.harddrive %}
    - size_gb: {{ items.size_gb }}
      type: {{ items.type }}
      datastore: {{ items.datastore }}
{% endfor %}
    networks:
{% for nic in item.network %}
{% if nic.type == 'static' %}
    - name: {{ nic.name }}
      type: {{ nic.type }}
      ip: {{ nic.ip }}
      netmask: {{ nic.netmask }}
      gateway: {{ nic.gateway }}
{% else %}
    - name: {{ nic.name }}
      type: {{ nic.type }}
{% endif %}
{% endfor %}
    hardware:
      memory_mb: {{item.hardware.memory_mb }}
      num_cpus: {{ item.hardware.num_cpus }}
      scsi: paravirtual
    wait_for_ip_address: yes
  delegate_to: localhost
