---
- name: Building {{ item.name }}
  vmware_guest:
    validate_certs: no
    name: {{ item.name }}
    template: {{ item.os }}
    disk:
{% for items in item.harddrive %}
    - size_gb: {{ items.size_gb }}
      type: {{ items.type }}
      datastore: {{ items.datastore }}
{% endfor %}
    networks:
{% for nic in item.network %}
{% if nic.type == 'static' %}
    - name: {{ nic.name }}
      type: {{ nic.type }}
      ip: {{ nic.ip }}
      netmask: {{ nic.netmask }}
      gateway: {{ nic.gateway }}
{% else %}
    - name: {{ nic.name }}
      type: {{ nic.type }}
{% endif %}
{% endfor %}
    hardware:
      memory_mb: {{item.hardware.memory_mb }}
      num_cpus: {{ item.hardware.num_cpus }}
      scsi: paravirtual
